

#contenedor{
  width: 80%;
  margin: 0 auto;
  min-height: 1vh;
}


.thead-colors{
  background-color: #33adff;
  color: #e6ffff ;
}
.head-title{
  margin: 30px 0px;
  padding: 10px;
}

.title{
 font-size: 2em;

}

.acciones{
margin-top: 20px;
margin-bottom: 30px;
}

.animate{
  animation: animateElement linear .3s;
  animation-iteration-count: 1;
  background:#e7e7e7;
  margin-bottom:5px;
  width:100%;
  min-height:30px;
  border-radius:10px;
 }

@keyframes animateElement{
  0% {
    opacity:0;
    transform:  translate(0px,10px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}
