<div id="contenedor">

    <div class="head-title"> <p class="text-center title">Lista de propiedades</p> </div>
    <table class="table" id="orders_table">
        <thead class="thead-colors">
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>M2</th>
              <th>Enail</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let propiedad of propiedades">
              <td>{{propiedad.id}}</td>

              <td>{{propiedad.nombre}}</td>
              <td>{{propiedad.direccion}}</td>
              <td>{{propiedad.m2}}</td>
              <td>{{propiedad.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
