
  <div class="login">
    <h2 class="login-header">Ingresa</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

      <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
        <input type="text" placeholder="username" formControlName="username">
      </p>



      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>



      <p>
        <input type="submit" value="Entrar">
      </p>
    </form>
  </div>
